################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnnxApi/obj
*.user
/ChatAPI/obj
/ChatAPI/bin/Debug/net10.0
/ChatAPI/ONNX/model.onnx.data
/ChatAPI/ONNX/20260618/model.onnx.data
/ChatAPI/ONNX/20260619/model.onnx.data
